@charset "UTF-8";

/*Medias queries - para conteúdo responsivo:*/

@media (max-width: 640px) {
    aside {
        display: none;
    }

    main {
        margin: auto;
    }

    .conteudo div {
        display: flex;
        flex-direction: column;
    }

    .conteudo h3 {
        text-align: center;
        margin: 15px 0px;
    }
}

@media (max-width: 499px) {
    #menu-hamburger {
        display: block;
    }

    #menu ul {
        display: none;
    }
}