@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor0: #012323;
    --cor1: #4A7371;
    --cor2: #7FA6A2;
    --cor3: #c6d6d5b7;
    --cor4: #0F0E0C;

    --fonte-padrao: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--fonte-padrao);
    background-image: url(../imagens/background-chess.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    background-color: var(--cor4);
    color: white;
    padding: 12px;
}


header {
    background-color: var(--cor4);
    color: white;
    padding: 8px;
}

h2 {
    background-color: var(--cor1);
    border-radius: 5px;
    padding: 5px;
}

h1, header {
    text-align: center;
}

#brasil, #russia, #eua {
    height: 30px;
    width: 30px;
    margin: -8px;
    margin-left: 5px;
}

#supi, #dubov, #fischer {
    padding: 20px;
    margin-left: 100px;
    width: 960px;
}

.conteudo {
    display: table;
    background-color: var(--cor3);
    padding: 14px;
    border-radius: 5px;
}

.imagem {
    display: table-cell;
    float: right;
}

.texto {
    display: table-cell;
    float: left;
    width: 650px;
    margin-top: 10px;
    margin-right: 20px;
    text-align: justify;
}

aside {
    background-color: var(--cor2);
    padding: 20px;
}

aside > h3 {
    background-image: linear-gradient(to right, var(--cor0), var(--cor1), var(--cor2));
    padding: 3px;
    color: white;
    border-radius: 4px;
}

footer {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    padding: 5px;
}