@charset "UTF-8";

/*Configuração global*/
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*Variáveis*/
:root {
    --cor0: #012323;
    --cor1: #4A7371;
    --cor2: #7FA6A2;
    --cor3: #c6d6d5b7;
    --cor4: #0F0E0C;

    --fonte-padrao: Arial, Helvetica, sans-serif;
}

/*Corpo*/
body {
    font-family: var(--fonte-padrao);
    background-image: url(../imagens/background-chess.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Cabeçalho*/
header {
    background-color: var(--cor4);
    color: white;
    padding: 15px; 
    margin: auto; 
}

/*Estilo para título nível 1*/
h1 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
}

#menu ul {
    display: flex;
    gap: 3.5rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

#menu-hamburger {
    display: none;
}

main {
    max-width: 1300px;
    margin: auto;
}

/*Estilo para título nível 2*/
h2 {
    background-color: var(--cor1);
    border-radius: 5px;
    padding: 5px;
}

/*Centralização dos itens dentro título de nível e cabeçalho*/
h1, header {
    text-align: center;
    margin: auto;
}

#sobre, #conteudo {
    background-color: var(--cor3);
    max-width: 960px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}

#sobre h2 {
    margin-bottom: 15px;
}

#conteudo > div {
    display: flex;
    padding: 5px;
}

#conteudo div ul {
    margin-top: 20px;
    margin-left: 20px;
}

img {
    margin: 10px;
    width: 280px;
    border-radius: 50%;
}

/*Configuração de posição e dimensão das bandeiras*/
#brasil, #russia, #eua {
    height: 30px;
    width: 30px;
    margin: -8px;
    margin-left: 5px;
}

/*Configuração das sections onde cada uma contém um conteúdo*/
#supi, #dubov, #fischer {
    padding: 10px;
    max-width: 960px;
}

/*Estilo do conteúdo dentro das sections*/
.conteudo {
    display: table;
    background-color: var(--cor3);
    padding: 14px;
    border-radius: 5px;
}

/*Posicionamento das imagens a direita do texto*/
.imagem {
    display: table-cell;
    float: right;
}

/*Configuração do texto e posicionamento dentro da section*/
.texto {
    display: table-cell;
    float: left;
    width: 650px;
    max-width: 100%;
    margin-top: 10px;
    margin-right: 20px;
    text-align: left    ;
}

/*Conteúdo complementar*/
aside {
    background-color: var(--cor2);
    padding: 20px;
}

/*Estilo do conteúdo complementar*/
aside > h3 {
    background-image: linear-gradient(to right, var(--cor0), var(--cor1), var(--cor2));
    padding: 3px;
    color: white;
    border-radius: 4px;
}

/*Configuração do rodapé*/
footer {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    padding: 5px;
    margin: auto;
}

/*Estilo do link*/
a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

/*Medias queries - para conteúdo responsivo:*/

@media (max-width: 1200px) {
    #supi {
        margin: auto;
        width: 90%;
    }

    #dubov {
        margin: auto;
        width: 90%;
    }

    #fischer {
        margin: auto;
        width: 90%;
    }

    .texto {
        margin: auto;
        width: 100%;
    }

    .imagem {
       width: 97%;
       text-align: center;
    }
}

@media (max-width: 499px) {
    #menu-hamburger {
        display: block;
    }

    #menu ul {
        display: none;
    }
}